<h1>Players#index</h1>
<table>
    <tr>
      <th>Player</th>
      <th>Nationality</th>
      <th>Position</th>
      <th>Overall</th>
    </tr>

    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.country.name %></td>
        <td><%= player.position %></td>
        <td><%= player.overall %></td>
        </tr>
    <% end %>
</table>
