<h1>Countries#index</h1>
<table>
    <tr>
      <th>Id.</th>
      <th>Country</th>
    </tr>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.id %></td>
        <td><%= country.name %></td>
      </tr>
    <% end %>
</table>
