<hr>
<header>
  <ul>
    <li><%= link_to "Players", players_path %></li>
    <li><%= link_to "Country", countries_path %></li>
    <li>Club</li>
    <% cms_pages.each do |page| %>
      <li><%= link_to page.title, permalink_path(page.permalink) %></li>
    <% end %>
  </ul>
</header>