<hr>
<header>
  <ul>
    <li><%= link_to "Players", players_path %></li>
    <li><%= link_to "Country", countries_path %></li>
    <li>Club</li>
    <li>About Footballers</li>
  </ul>
</header>